.content {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  
  .toggle-content {
    max-height: 0;
    transition: max-height 0.25s ease;
  }
  
  .toggle-content.open {
    max-height: 999em;
  }
  
  .content-item {
    margin: 0;
    padding-top: 2%;
    background: #ffffff;
    color: #000000;
    border: none;
    border-radius: 0.25em;
  }
  
  
  .toggle-trigger {
    white-space: nowrap;
    position: absolute;
    left: 25px;
    bottom: 0;
    transform: translateX(-50%);
    padding: 10px 15px 10px 60px;
    text-align: center;
    cursor: pointer;
    line-height: 1em;
    letter-spacing: 0.06em;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    background: #ff85e0;
    transition: background 200ms;
    border-radius: 25px;
  }
  
  .toggle-trigger:hover {
    background: #000000;
  }
  
  .toggle-trigger::after {
    font-family: 'FontAwesome', sans-serif;
    font-weight: 300;
    margin-left: 10px;
    color: #000000;
    font-size: 18px;
    vertical-align: middle;
    transition: color 200ms;
  }
  
  .toggle-trigger:hover::after {
    color: #ffffff;
  }

  .trigger-holder {
    position: relative;
  }
  